body,
html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #000000;
  font-family: "monospace";
  margin: 0;
}

.terminal {
  height: 100%;
  padding: 24px;
}

#terminal {
  height: 100%;
}

:root {
  --brand-bg-color: #000000;
  --brand-txt-color: #fff;
  --brand-link-color: #fff;
}
